* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.banner {
    grid-column: 1 / 5;   
    grid-row: 1 / 2;
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)),url("images/handyman.jpg");
    background-size: cover;
    background-position: center;
}


.navbar {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo1 {
    width: 75px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

/* THIS IS TO CHANGE THE COLOR OF EACH li tag  */

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


/* SETTING UP NAVBAR LINES: THIS PART SETS UP LINES TO BE HIDDEN */
.navbar ul li::after {
    content: '';
    height: 4px;
    width: 0;
    background-color: rgb(168, 19, 19);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

/* This allows the transition to take place */
.navbar ul li:hover:after {
    width: 100%;
}

.content {
    margin-top: 15%;
    width: 100%;
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 3rem;
    margin-top: 5rem;
}

.content p {
    margin: 20px auto;
    font-weight: 500;
    line-height: 35px;
}
.content button {
    width: 120px;
    height: 35px;
    color: rgb(223, 15, 15);
    background-color: white;
    border-radius: 20px;
    align-self: center;
    cursor: pointer;

}

.body {
    display: flex;
    align-items: center;
}


.form {
    margin: 2% 5%;
    width: 100%;
    border: 2px gray solid;
    border-radius: 25px;
    background-color: rgb(168, 19, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px lightgray;
}

.form_title {
    margin: 10px 0px;
    font-size: 1.8rem;
    color: white;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
}


.inputs input {
    margin: 20px 0px;
    height: 35px;
    width: 250px;
}


#service_request {
    height: 80px;
}

/* .inputs p {
    margin-left: 15px;
    color: white;
    font-size: 1.5rem;
} */

.inputs button {
    width: 60%;
    height: 40px;
    color: white;
    background-color: gray;
    margin: 10px auto;
    border-radius: 15px;
    cursor: pointer;
}


.info {
    margin: 5% 12%;
    line-height: 2rem;
}

.info h3 {
    font-size: 1.9rem;
    text-align: center;
}


.boxes {
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: space-around;
    margin: auto 5%;
}

.box {
    background-color: white;
    border: 2px solid black;
    max-width: 350px;
    height: 350px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 5px lightgray;
}

.logos {
    width: 75px;
}
